.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem;
  position: relative;
  z-index: 200;
}

@media (min-width: 768px) {
  .topBar {
    position: sticky;
    top: 0;
  }
}
